{% import 'frontend/elements/svg/svg_macros.twig' as Svg %}
<div class="footer">
    <div class="container container_sm">
        <div class="footer_items">
            <div class="footer_item">
                <div class="footer_name">{{ global.fields.info.info_name }}</div>
                <div class="footer_title">{{ global.fields.info.info_title }}</div>
                <div class="footer_desc">{{ global.fields.info.info_desc }}</div>
                <div class="footer_payment">
                    <div class="footer_payment_item">{{ Svg.icon('visa',1) }}</div>
                    <div class="footer_payment_item">{{ Svg.icon('mastercard',1) }}</div>
                    <div class="footer_payment_item">{{ Svg.icon('googlepay',1) }}</div>
                    <div class="footer_payment_item">{{ Svg.icon('applepay', 1) }}</div>
                </div>
            </div>
            <div class="footer_item">
                <div class="footer_item_title">Навигация</div>
                <div class="footer_item_link"><a href="/">Магазин</a></div>
                <div class="footer_item_link"><a href="/payment.html">Оплата</a></div>
                <div class="footer_item_link"><a href="/delivery.html">Доставка</a></div>
                <div class="footer_item_link"><a href="/return.html">Возврат</a></div>
                <div class="footer_item_link"><a href="/contacts.html">Контакты</a></div>
            </div>
            <div class="footer_item">
                <div class="footer_item_title">Контакты</div>
                <div class="footer_item_addr">{{ global.fields.info.info_addres }}</div>
                <div class="footer_item_phone"><a
                            href="tel:{{ global.fields.info.info_phone }}">{{ global.fields.info.info_phone }}</a></div>
                <div class="footer_item_socials">
                    {% for social in global.fields.info.info_socials %}
                        <a href="{{ social.info_socials_url }}" class="footer_item_social">
                            <span class="footer_item_social_icon">{{ Svg.icon(social.info_socials_icon, 1, 35,35) }}</span>
                            <span class="footer_item_social_title">{{ social.info_socials_title }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="footer_decor"></div>
        <div class="footer_copy">
            <div class="footer_item_link" style="display: flex; justify-content: center; align-items: center">
                <a href="/policy.html">Политика конфеденциальности</a></div>
            <div class="copy">   {{ global.fields.info.info_copy }}</div>
        </div>
    </div>
</div>