{% import "frontend/elements/svg/svg_macros.twig" as Svg %}
{% import "frontend/elements/badge/badge.twig" as Badge %}
<div class="section">
    <div class="section__header">
        {% include 'frontend/sections/section-head/section-head.twig' with {
            section_title: 'Вы смотрели',
            section_slider: 'w-1',
            section_link: 'Очистить список',
            section_link_href: '#',
            mod: 'second',
            link_trigger: 'js-watch-clear'
        } %}
    </div>
    {% if variables.last_viewed %}
        {% set last_viewed = variables.last_viewed%}
    {% endif %}
    <div class="section__content">
        <div class="container container_lg">
            <div class="table-list table-list_second">
                <div class="table-list__list table-list__list_slider js-slider-3" data-slider="w-1">
                    {% for item in last_viewed %}
                        <div class="table-list__item table-list__item_third">
                            <a href="{{global.base_url}}/{{ item.cat_url }}/{{ item.item_url }}/" class="t-1 t-1_3">
                                <div class="t-1__wrapper">
                                    <div class="t-1__image">
                                        <img src="{{ item.item_icon_url }}" class="image image_cover" alt="{{category.cat_title}}">
                                    </div>
                                    {% if item.item_hit and not item.item_sale %}
                                        <div class="t-1__left-top">
                                            {{ Badge.element('популярно', {
                                                mod: 'primary3'
                                            }) }}
                                        </div>
                                    {% endif %}
                                    {% if item.item_sale %}
                                        <div class="t-1__left-top">
                                            {% if item.item_sale_percent %}
                                                {{ Badge.element('-'~item.item_sale_percent~'%', { mod: 'primary2' }) }}
                                            {% else %}
                                                {{ Badge.element('Акция', { mod: 'primary2' }) }}
                                            {% endif %}
                                        </div>
                                    {% endif %}

                                    <div class="t-1__bottom">
                                        <div class="t-1__title">{{ item.item_title}}</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="section__link-mobile">
                <a href="{{ global.base_url }}/catalog/" class="button button_md button_second">
                    <span class="button__container">
                        <span class="button__text">Очистить список</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>