{% if global.page.breadcrumbs %}
    <section class="breadcrumbs">
        <ul class="breadcrumbs__list" itemscope itemtype="https://schema.org/BreadcrumbList">
                <li class="breadcrumbs__item" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a class="breadcrumbs__link" itemprop="item" href="{{ global.base_url }}/">
                        <span itemprop="name">Главная</span>
                        <meta itemprop="position" content="1">
                    </a>
                    <span class="breadcrumbs__line">/</span>
                </li>

                {% set b_pos=2 %}
                {% for item in global.page.breadcrumbs %}
                    <li class="breadcrumbs__item " itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        {% if item.link and loop.index!=global.page.breadcrumbs|length %}
                            <a class="breadcrumbs__link {% if loop.index==global.page.breadcrumbs|length %}breadcrumbs__link_active{% endif %}" itemscope itemtype="https://schema.org/WebPage"
                               itemprop="item" href="{{ item.link }}" itemid="{{ item.link }}">
                                <span itemprop="name">{{ item.title }}</span>
                            </a>
                        {% if b_pos < global.page.breadcrumbs|length+1 %}
                            <span class="breadcrumbs__line">/</span>
                            {% endif %}
                        {% else %}
                            <span class="breadcrumbs__link {% if loop.index==global.page.breadcrumbs|length %}breadcrumbs__link_active{% endif %} " itemprop="name">{{ item.title }}</span>

                            {% if b_pos < global.page.breadcrumbs|length+1 %}
                                <span class="breadcrumbs__line">/</span>
                            {% endif %}
                        {% endif %}

                        <meta itemprop="position" content="{{ b_pos }}">
                        {% set b_pos=b_pos+1 %}
                    </li>
                {% endfor %}
            </ul>
    </section>
{% endif %}
