{% block content %}
    <ul class="navigation child">
      <li>
        <a href="{{ global.base_url }}/manager/shop/cats/">Категории</a>
      </li>
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/vendors/">Производители</a>#}
{#      </li>#}
      <li>
        <a href="{{ global.base_url }}/manager/shop/products/">Товары</a>
      </li>
      <li>
        <a href="{{ global.base_url }}/manager/shop/offers/">Офферы</a>
      </li>
      <li>
        <a href="{{ global.base_url }}/manager/shop/decorations/">Украшения</a>
      </li>
      <li>
        <a href="{{ global.base_url }}/manager/shop/orders/">Заказы</a>
      </li>
      <li>
        <a href="{{ global.base_url }}/manager/shop/callbacks/">Заявки</a>
      </li>
      <li>
        <a href="{{ global.base_url }}/manager/shop/reviews/">Отзывы</a>
      </li>
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/chat/">Чат</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/suppliers/">Поставщики</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/notify/">Уведомления</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/delivery/">Доставка</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/delivery/cities/">Города</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/comments/">Отзывы</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/banners/">Баннеры</a>#}
{#      </li>#}
{#      <li>#}
{#        <a href="{{ global.base_url }}/manager/shop/home-blocks/">Блоки на главной</a>#}
{#      </li>#}


    </ul>
{% endblock %}
