{% for item in list %}
    <tr data-id="{{ item.part_id }}">
        <td class="data_id">{{ item.part_id }}</td>
        <td>
            <div class="object_status  {% if item.part_status!=1%}no{% else %}yes{% endif %}" data-value="{{ item.part_id }}">
                <span class="badge badge-danger">нет</span>
                <span class="badge badge-success">да</span>
            </div>
        </td>
        <td>{{ item.part_title }}</td>
        <td>
            <a target="_blank" class="btn btn-success btn-xs" href="{{ item.part_full_url }}"><i class="fa fa-external-link" aria-hidden="true"></i></a>
            <a target="_blank" href="{{ global.base_url }}/manager/shop/parts/edit/{{ item.part_id  }}/" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>
            <div data-value="{{ item.part_id }}" class="btn btn-danger btn-xs delete"><i class="fa"></i></div>
        </td>
    </tr>
{% endfor %}
