{% for item in select_fields['data'] %}
    <tr  data-id="{{ item.type_id }}">
        <td>
            {% if item.old_item_type_id ==0 %}
                <div class="object_status  {% if item.type_status!=1%}no{% else %}yes{% endif %}" data-value="{{ item.type_id }}">
                    <span class="badge badge-danger">нет</span>
                    <span class="badge badge-success">да</span>
                </div>
            {% endif %}
        </td>
        <td>
            {{ item.type_title }}
        </td>
        <td>
            <div class="select_parent_type">
                {% if item.vvv %}
                    {% for s in item.values %}
                        <div>{{ all_types[s]['type_title'] }} - <a class="c_update_type_parent" href="#" data-type="{{ s }}">[D]</a></div>
                    {% endfor %}
                {% else %}
                    <select>
                        <option></option>
                        {% for select in select_fields['data'] %}
                            <option {% if select.type_id==item.old_item_type_id  %}{% endif %} value="{{ select.type_id }}">{{ select.type_title }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </div>
        </td>
        <td>
            {{ item.count }}
        </td>>
    </tr>
{% endfor %}