{% import "frontend/elements/link/link_macro.twig" as Link %}
{% set menu = 1 %}
<div class="menu js_menu">
  <div class="menu_links">
      <a href="{{ global.base_url }}" class="menu_links_item {% if global.page.active == 'shop' %}header__links_item_active{% endif %}">Магазин</a>
      <a href="{{ global.base_url }}/payment.html" class="menu_links_item {% if global.page.active == 'payment' %}header__links_item_active{% endif %}">Оплата</a>
      <a href="{{ global.base_url }}/delivery.html" class="menu_links_item {% if global.page.active == 'delivery' %}header__links_item_active{% endif %}">Доставка</a>
      <a href="{{ global.base_url }}/return.html" class="menu_links_item {% if global.page.active == 'return' %}header__links_item_active{% endif %}">Возврат</a>
      <a href="{{ global.base_url }}/contacts.html" class="menu_links_item {% if global.page.active == 'contacts' %}header__links_item_active{% endif %}">Контакты</a>
  </div>
</div>